<html>
<head>
	<title>
		About
	</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This app was made by Deepak Sharma to give the people the freedom of knowing the weather of anywhere any time.</p>
	</div>
	{{>footer}}
</body>
</html>