<html>
<head>
	<title>
		Help
	</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Search for weather of any location any time through this app and be always upadated.</p>
	</div>
	{{>footer}}
</body>
</html>